<button
  type="button"
  (click)="onClickPrevious()"
  [disabled]="currentPage === 1"
>Previous</button>

<span>{{currentPage}}</span>

<span *ngIf="totalPages">of {{totalPages}}</span>
<button
  type="button"
  (click)="onClickNext()"
>Next</button>

<select
  #pageSizeSelect
  [value]="pageSize"
  (change)="onChoosePageSize(pageSizeSelect.value)"
>
  <option
    *ngFor="let pageSizeOption of pageSizeOptions"
    [value]="pageSizeOption"
  >{{ pageSizeOption + ' per page' }}</option>
</select>
