.art-objects-list {
  list-style: none;
  padding-left: 0;
}

.art-object {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.art-object:hover {
  background: #eee;
}

.art-object.is-selected {
  background: #ddd;
}
