<span class="rm-sort-label">Order by: </span>

<mat-form-field>
  <mat-select
    #sortOrderSelect
    [value]="sortOrder"
    (change)="changeSortOrder(sortOrderSelect.value)"
  >
    <mat-option [value]="sortOrders.RELEVANCE">Relevance</mat-option>
    <mat-option [value]="sortOrders.OBJECT_TYPE">Type of work</mat-option>
    <mat-option [value]="sortOrders.CHRONOLOGIC">Chronological old > new</mat-option>
    <mat-option [value]="sortOrders.ACHRONOLOGIC">Chronological new > old</mat-option>
    <mat-option [value]="sortOrders.ARTIST_ASC">Artist A > Z</mat-option>
    <mat-option [value]="sortOrders.ARTIST_DESC">Artist Z > A</mat-option>
  </mat-select>
</mat-form-field>
