<mat-toolbar>Rijksmuseum-art-explorer</mat-toolbar>
<div class="container">
  <div class="art-objects-list-wrapper">
    <rm-art-objects-search
      (search)="onSearch($event)"
    ></rm-art-objects-search>

    <rm-art-objects-sort
      [sortOrder]="sortOrder"
      (sortOrderChange)="onSortOrderChange($event)"
    ></rm-art-objects-sort>

    <rm-art-objects-list
      [searchQuery]="searchQuery"
      [sortOrder]="sortOrder"
      [page]="currentPage"
      [pageSize]="pageSize"
      (select)="onSelect($event)"
      (listLoad)="onListLoad($event)"
    ></rm-art-objects-list>

    <rm-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [pageSize]="pageSize"
      (pageSizeChange)="onPageSizeChange($event)"
      (pageChange)="onPageChange($event)"
    ></rm-pagination>
  </div>
  <div class="art-object-details-wrapper">
    <rm-art-object-details
      [objectNumber]="selectedArtObjectNumber"
    ></rm-art-object-details>
  </div>
</div>
