<h1>rijksmuseum-art-explorer</h1>

<div class="container">
  <div class="art-objects-list-wrapper">
    <rm-art-objects-search
      on-search="$ctrl.onSearch($event)"
    ></rm-art-objects-search>
    <rm-art-objects-list
      search-query="$ctrl.searchQuery"
      page="$ctrl.currentPage"
      page-size="$ctrl.pageSize"
      on-select="$ctrl.onSelect($event)"
      on-list-load="$ctrl.onListLoad($event)"
    ></rm-art-objects-list>
    <rm-pagination
      current-page="$ctrl.currentPage"
      total-pages="$ctrl.totalPages"
      page-size="$ctrl.pageSize"
      on-page-size-change="$ctrl.onPageSizeChange($event)"
      on-page-change="$ctrl.onPageChange($event)"
    ></rm-pagination>
  </div>
  <div class="art-object-details-wrapper">
    <rm-art-object-details object-number="$ctrl.selectedArtObjectNumber"></rm-art-object-details>
  </div>
</div>
