.container {
  display: flex;
  padding: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.art-objects-list-wrapper {
  flex: 0 0 500px;
}

.art-object-details-wrapper {
  flex-grow: 1;
  margin-left: 20px;
}
